ul {
	list-style-type: none ;
}

ul.contents {
	padding: 0 ;
}

table {
	border: none ;
	border-spacing: 0 ;
	border-collapse: collapse ;
}

td {
	vertical-align: top ;
	padding: 0 ;
	text-align: left ;
	line-height: 1.25 ;
	width: 15% ;
}

table.striped tr:nth-child(even) {
	background-color: #E8E8E8 ;
}

table.striped tr:nth-child(odd) {
	background-color: #F4F4F4 ;
}
